/* style.css */

.navbar-brand img {
    max-height: 80px; /* Ajustez la hauteur maximale de l'image selon vos besoins */
    width: 200px; /* Pour maintenir les proportions */
    vertical-align: middle; /* Ajustement vertical au centre si nécessaire */
}

/* #btnModifier {
    background-color: pink;
    
} */

h1 {
    font-size:3.5em;
    text-shadow:#bbe5ff 0 -1px 0,
#0098f8 1px 1px 0,
#018de6 2px 2px 0,
#006fb5 3px 3px 0,
#005386 4px 4px 0,
#004874 5px 5px 0,
#333 5px 5px 10px;color:#26abff;
}

/* On stylise chaque élément */
  .nav-item {
    color: #83818c;
    font-family: arial, sans-serif;
    padding: 20px;
    margin: 0 6px;
    position: relative;
  }
  
/* Ici on met juste un petit élément avant chaque élément pour le rendre plus beau visuellement */
  .nav-item:before {
    content: "";
    position: absolute;
    bottom: -6px;
    background-color: #dfe2ea;
    height: 5px;
    width: 100%;
    border-radius: 8px 8px 0 0;
    left: 0;
    transition: .3s;
  }
  
  /* Avec les dernières nouveautés de CSS, on peut changer les propriétés des éléments selon des conditions avec not */
  .nav-item:not(.is-active):hover:before {
    bottom: 0;
  }
  .nav-item:not(.is-active):hover {
    color: #333;
  }

  footer {
    text-align: center;
  }


#btnAjout {
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 14px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 10px;
}

#btnAjout:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

#btnAjout:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

.table {
    
}

@media (min-width: 768px) {
  .button-71 {
    padding: 16px 48px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-nav li {
  margin-left: 10px;
}

.navbar-nav .nav-item.switch-container {
  display: flex;
  align-items: center;
}

.switch {
  margin: 0;
}
